@page
@model OdeToFood.Pages.Restaurants.ClientRestaurantsModel
@{
}

<h2>Client Restaurants</h2>

@section Scripts
{
    <script>
        $(function() {
            $.ajax("/api/restaurants/",
                    { method: "get" })
                .then(function(response) {
                    console.dir(response);
                });
        })
    </script>
}
